<h1>Books to Read</h1>
<% @books.each do |book| %>
<ul>
  <li><b><%=book.title %></b></li>
    Author: <i><%=book.author %></i>
    <br />
    <p><%=book.description %></p>
     <% if book.user.present? %>
      <small><%= book.user.email %></small>
    <% end %>
</ul>
<% end %>